*{
    box-sizing: border-box;
}
body {
    font-family:Ubuntu, sans-serif;
    background-color: white;
}
h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}
.container {
    border: 1px solid black;
    box-shadow: 5px 5px 5px lightgray; 
    Margin: 30px auto;
    width:90%;
}
.container h2 {
    position:relative;
    background-color: white;
    display:inline;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    top: -.65em;
    left: 3em;
}